@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


html, body {
    height: 100vh;
    width: 100vw;
    background-color: white;
    overflow-x: hidden;
}
a {
    color: #00597B;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold; 
    
    
}

a:hover {
    opacity: 10px;
    text-decoration: underline;
}

.logo {
   
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
    height: 15vh;
  
   
}


.nav-list {
   list-style: none; 
   display: flex;
  
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
   
}

.mobile-menu {
    display: none;
    cursor: pointer; 
}

.mobile-menu div {
    width: 30px;
    height: 1px; 
    background-color: rgba(0, 0, 0, 0.473);
    margin: 8px; 
}

header {
    height: 40vh;
    background-color: #fff;
    margin-bottom: 20px;
}

header p {
    position: relative;
    top: 5vh;
    right: -300px;


    color: #00597B;
    text-align: center;
  
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    font-size: 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    
}


.paragraph {
    color: black;
    
    padding: 20px;
    margin-bottom: 50px;
}

section h1 {
    color: rgba(0, 0, 0, 0.808);
    margin: 20px;
    background-color: 5px 5px 5px rgba(0, 0, 0, 0.534);
    font-size: 2em;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section p {
    text-indent: 20px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    line-height: 1.5em;
}

strong {
    color: #00597B;
    font-weight: bolder;
    font-style: italic;
}

section ul {
   display: flex;
   justify-content: space-around;
   list-style: none;
   margin-top: 20vh; 
   margin-bottom: 20vh;

}

section ul li img {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.185);
}


section ul li img:hover {
    border: 2px solid white;
    transform: translate(-5px, -5px);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, border 1s;
}

footer {
    background: #00587bdc;
    height: 20vh;

}

footer p {
    color: rgba(255, 255, 255, 0.384);
    padding: 20px;
    margin-bottom: 0;
    line-height: 1.5em;
    text-align: center;

    font-size: 1.2em;
    font-weight: normal;
}


@media (max-width: 999px) {

    body {
        overflow-x: hidden;
    }
    .nav-list {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background-color: rgba(0, 0, 0, 0.808);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.6s ease-in;
}

.nav-list  li {
    margin-left: 0;
   opacity: 0.7;
}

.nav-list li a {
    color: #fff;
    font-weight: normal;
}

.mobile-menu {
    display: block;
    }

    header p {
        position: relative;
        right: -10%;
       
        font-size: 1.9em;
    }

    section h1 {
        font-size: 1em;
    }

    section ul {
        display: flex;
        

        padding: 20px;
    }

    section ul {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    section ul li.ingles, li.espanhol {
        margin-bottom: 50px;
    }

    .logo {
        width: 70px;
    }
}


.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkfade {
    from {
        opacity: 0.7;
        transform: translateX(50px);
    }
    to {
        opacity: 2;
        transform: translateX(0);
    }
}
 
